<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.bm.BmMapper">
	<insert id="insertBM" parameterType="com.example.demo.bm.BusinessMember">
		insert into BUSINESS_MEMBER values(#{bm_id}, #{bm_pw}, #{bm_email}, sysdate, 0)
	</insert>
	
	<select id="getBM" resultType="com.example.demo.bm.BusinessMember" parameterType="com.example.demo.bm.BusinessMember">
		select * from BUSINESS_MEMBER
		where bm_id = #{bm_id}
		and bm_pw = #{bm_pw}
	</select>
</mapper>