<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.bs.BsMapper">

<select id="getBS" parameterType="com.example.demo.bm.BusinessMember" resultType="com.example.demo.bs.BusinessStorage">
	select * from BUSINESS_STORAGE where bm_id = #{bm_id}
</select>


</mapper>